version: '3.1'

services:
    db:
        image: postgres:12-alpine
        restart: unless-stopped
        environment:
            POSTGRES_PASSWORD: not_exactly_secure
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata:
